*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.all_posts{
  background-color: rgb(157, 158, 163);
  color: black;
  margin: 0 auto;
  text-align: center;
}

.post {
  width: 80%;
  text-align: center;
  margin: 1rem auto;
  border: 2px solid #050505;
  border-radius: 5px;
}
.title__posts{
  font-size: 4.5rem;
}
.title__post {
  margin: 2rem 0;
 text-align: start;
 padding-left: 1rem;
}
h2 {
  font-size: 3rem;
  text-align: center;
}
.content__post{
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2rem;
  color: rgb(7, 7, 7);
}
